<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Players | Project</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://storage.googleapis.com/javaee/imag/style.css">
</head>
<body>
    <!-- nav -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top custom_nav">
        <div class="container">
          <a class="navbar-brand" href="/create">Create Player</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/create">Create Player</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/allplayers">All Players</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/findbyname">Find Player by name</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/numberOfPlayers">Number of Players</a>
              </li>
              
              
            </ul>
            
          </div>
        </div>
    </nav>
     <!-- nav -->
    <header class="main-banner">

            <div class="container">
                <div class="row">

                        <h1>List of all Players created</h1>
                        <table class="table table-bordered text-light table-hover table-dark">
                            <thead class="thead-light w-100 font-weight-bold">
                                <tr>
                                    <td>PlayerId</td>
                                    <td>Player's name</td>
                                    <td>Player's age</td>
                                    <td>Avatar's name</td>
                                    <td>Email</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="player: ${players}">
                                    <td th:text="${player.playerid}"/>
                                    <td th:text="${player.name}"/>
                                    <td th:text="${player.agePlayer}"/>   
                                    <td th:text="${player.avatarName}"/>   
                                    <td th:text="${player.email}"/> 
                                </tr>
                            </tbody>
                        </table>
                </div>
                <br><br>
            <h4>Total number of queries on the server since the last restart: <span id="numberHits"></span></h4>
            <br>
            </div>
 
    </header>
    <!-- Footer -->
    <footer class="main-footer">
        
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <aside class="footer-widget">
                        <h5>Java EE, BD from AWS.</h5>
                        <ul>
                            <li><a href="/create">Create Player</a></li>
                            <li><a href="/allplayers">All Players</a></li>
                            <li><a href="/findbyname">Find Player by name</a></li>
                            <li><a href="/numberOfPlayers">Number of Players</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <aside class="footer-widget">
                        <h5>lombok. POO, MVC</h5>
                        <ul>
                            <li><a href="/create">Create Player</a></li>
                            <li><a href="/allplayers">All Players</a></li>
                            <li><a href="/findbyname">Find Player by name</a></li>
                            <li><a href="/numberOfPlayers">Number of Players</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <aside class="footer-widget">
                        <h5>Spring Boot, WEBAPI</h5>
                        <ul>
                            <li><a href="/create">Create Player</a></li>
                            <li><a href="/allplayers">All Players</a></li>
                            <li><a href="/findbyname">Find Player by name</a></li>
                            <li><a href="/numberOfPlayers">Number of Players</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <aside class="footer-widget">
                        <h5>https://github.com/jandresengin/JavaEEPublic</h5>
                        <h5>Boostrap, HTML5, RESTAPI, GET, POST</h5>
                        <address>
                            <p>Jairo Andres Supelano Rativa</p>
                            <p><strong>Email: </strong> <a href="mailto:jandres084@gmail.com">jandres084@gmail.com</a></p>
                        </address>
                    </aside>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer -->
    <script>
    window.setInterval(refreshHits, 3000)
  
  
    function refreshHits() {
		$.get("/currentcount", function(results) { 
			$("#numberHits").html(results)
		})
		
		}
  </script>
</body>
</html>